
.container{
    display: flex;
    width: max-content;
    margin: auto;
    align-items: center;
    height: 100vh;
    
}

button{
    padding: 2rem;
    font-size: 2rem;
    font-weight: bold;
    background-color: red;
    box-shadow: 1rem 1rem pink;
    color:black;
    border-radius: 10rem 5rem 10rem 5rem;
 
    
}


.flower-1{
    position: relative;
    top: 1rem; 
    left: 50%;
    transform: translateX(-50%);
    padding: 1rem;
}
.flower-2{
    position: relative;
    top: 1rem; 
    left: 50%;
    transform: translateX(-50%);
    padding: 1rem;
}